/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: #333;
    background-color: white;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header and Main Section Styling */
header {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensure subtitle is above the image */
}

/* Lain image container */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    position: relative;
    margin-bottom: 40px;
}

main img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px; /* Adjust as needed to move the image down */
    position: relative;
    z-index: 0; /* Image stays behind the subtitle */
}

/* Abstract Section */
.abstract-section {
    width: 100%;
    padding: 60px 20px;
    background-color: white; 
    color: #333;
    text-align: center;
}

.abstract-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.abstract-section p {
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.8;
}

/* Fly image containers and mirrored fly on the right */
.fly-image-container-left, .fly-image-container-right {
    position: absolute;
    top: 15px;
    z-index: 1000;
}

.fly-image-container-left {
    left: 10px;
}

.fly-image-container-right {
    right: 10px;
}

.fly-image {
    width: 130px;
    height: auto;
    opacity: 0.8;
}

.fly-image.flipped {
    transform: scaleX(-1); /* Flip the image horizontally */
}

/* Media query for iPhone 14 or larger phones */
@media screen and (max-width: 430px) {
    .title-container {
        font-size: 1.8rem; /* Adjust title size here */
        margin-top: 30px; /* Adjust space at the top */
    }

    .subtitle {
        margin-top: 25px; /* Adjust the spacing below the title */
    }

    /* Adjust Lain image for mobile phones */
    main img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 50px; /* Move the image down the screen */
        position: relative; /* Static positioning */
        z-index: -1; /* Keeps the image behind the text */
    }

    .abstract-section {
        margin-top: 80px; /* Move the abstract section down further */
    }
}
